/** @format */

.footer {
	background-color: color(gray, one);
	padding: rem(76px) 0 rem(40px);
	@include responsive-for(sm) {
		padding: rem(58px) 0 rem(32px);
	}

	&-top {
		padding-bottom: rem(45px);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		@include responsive-for(sm) {
			padding-bottom: rem(26px);
		}
	}
	&-bottom {
		padding: rem(20px) 0 rem(160px);
		@include responsive-for(lg) {
			padding: rem(32px) 0 rem(40px);
		}
		@include responsive-for(sm) {
			padding: rem(32px) 0 rem(60px);
		}
		&__nav {
			display: flex;
			justify-content: space-between;

			@include responsive-for(md) {
				flex-flow: row wrap;
			}
			& li {
				font-family: 'Inter';
				text-align: start;
				@include responsive-for(md) {
					flex-basis: 50%;
				}

				&:not(:last-child) {
					margin-right: rem(58px);
					padding-bottom: rem(20px);
					@include responsive-for(lg) {
						margin-right: rem(40px);
					}
					@include responsive-for(md) {
						margin-right: unset;
					}
				}
			}
		}
	}
	&-text {
		& span {
			color: color(gray, three);
		}
	}
}
