/** @format */
header {
	position: relative;
	padding: rem(67px) 0 rem(35px);

	&:after {
		@include position-absolute(calc(100% - 60px), 100%, -1);
		background-color: color(white);
		top: 0;
		left: rem(60px);
	}
}
.scrolled {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: rem(32px) 0;
	background-color: white;
	border-bottom: 1px solid color(gray, three);
	z-index: 9;

	transition: 0.3s all ease-in-out;
}
