/** @format */

nav {
	& .nav-links {
		& li:not(:last-child) {
			margin-right: 60px;
		}
		& li {
			& a {
				font-size: rem(14px);
				font-weight: $font-regular;
				font-family: 'Inter';
			}
		}
	}
}
.nav-icon {
	display: none;
}
@media screen and (max-width: 992px) {
	.site-branding {
		display: flex;
		top: 15px;
		left: 35px;
	}
	.nav-links {
		display: none;
	}

	.nav-mobile {
		display: block;
		background-color: color(primary, base);
		top: 0px;
		left: 0;
		width: 100%;
		height: 100%;
		position: fixed;
		padding: rem(35px);
		overflow-y: scroll;
		&__links {
			color: color(white);
			margin-top: rem(56px);
			& li {
				font-size: $p2;
				font-weight: $font-regular;
				font-family: 'Inter';
				padding: rem(16px) 0 rem(20px);
				&:not(:last-child) {
					border-bottom: 1px solid color(gray, four);
				}
			}
			&-sub {
				& li {
					&:last-child {
						padding: 0;
					}
				}
			}
		}
	}
	.nav-icon {
		display: block;
		top: 15px;
		right: 25px;
		&__close {
			position: absolute;
			top: 30px;
			right: 30px;
			height: rem(18px);
		}
	}
}
