/** @format */

.promo {
	padding: rem(40px) 0 rem(60px);
	@include responsive-for(sm) {
		padding: rem(20px) 0 rem(30px);
	}
	&__content {
		&--display-text {
			width: rem(885px);
			@include responsive-for(lg) {
				width: unset;
			}
		}
	}
	&--img {
		background: url('../../assets/uploads/Hero/Image.jpg') no-repeat;
		background-size: cover;
		min-height: rem(565px);
		width: calc(100% - 120px);
		margin: rem(80px) 0 0 auto;
		@include responsive-for(xxl) {
			width: calc(100% - 120px - 3.75rem);
		}
		@include responsive-for(xl) {
			width: calc(100% - 88px - 2.75rem);
		}
		@include responsive-for(lg) {
			width: calc(100% - 64px - 2rem);
		}
		@include responsive-for(md) {
			width: calc(100% - 48px - 1.5rem);
		}
		@include responsive-for(sm) {
			width: calc(100% - 32px - 1rem);
		}
		@include responsive-for(sm) {
			width: calc(100% - 32px - 1rem);
			min-height: rem(196px);
			margin: rem(40px) 0 0 auto;
		}
		&__mission {
			background: url('../../assets/uploads/Image.jpg') no-repeat;
			margin: 0 auto 0 0;
			@include responsive-for(sm) {
				width: calc(100% - 32px - 1rem);
			}
		}
	}
}
