/** @format */
$font-path: '../../assets/fonts';
@font-face {
	font-family: 'Galaxia';
	font-weight: 400;
	font-style: normal;
	src: url('#{$font-path}/GalaxieCopernicus.otf') format('opentype');
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	font-weight: 400;
	font-style: normal;
	src: url('#{$font-path}/Inter.ttf') format('truetype');
	font-display: swap;
}
