/** @format */

svg:not(:root) {
	overflow: unset;
}
html {
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
}
body {
	margin: 0;
	font-weight: $font-regular;
	background: color(background);
	font-size: 1rem;
	font-family: 'Galaxia';
}
h1,
h2,
h3,
h4,
p,
img,
figure,
figcaption,
video,
iframe,
nav,
ul,
li,
header,
footer,
article,
main,
aside {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $font-regular;
	margin-top: 0;
	margin-bottom: 0.1rem;
	color: rgb(66, 66, 66);
	font-family: 'Galaxia';
}
h1,
h2,
h3,
h4 {
	line-height: 1.2;
	letter-spacing: -0.02em;
	font-family: 'Galaxia';
}
h5,
h6 {
	line-height: 1;
	letter-spacing: 0.05em;
	font-family: 'Inter';
	font-weight: $font-bold;
}

p {
	line-height: 1.4;
	font-family: 'Galaxia';
	letter-spacing: -0.01em;
}
.text-sm {
	font-size: $p1;
	letter-spacing: 0.02em;
	font-weight: $font-medium;
}
b {
	line-height: 1;
	letter-spacing: 0.02em;
	font-weight: $font-bold;
}
.text-sm,
b {
	font-family: 'Inter';
}
.color-brand {
	color: color(primary, base);
}
button,
textarea,
input {
	&:focus {
		outline: none;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}

a,
ul > li > a {
	text-decoration: none;
	color: unset;
}
a:hover {
	color: color(primary, base);
}
.btn {
	&:focus {
		box-shadow: none;
	}
	&:hover {
		color: color(primary, base);
	}
}
img {
	max-width: 100%;
	vertical-align: middle;
}
ul {
	list-style: none;
}
ul li {
	display: inline-block;
}
