/** @format */

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin position-absolute($width, $height, $index) {
	position: absolute;
	content: '';
	width: $width;
	height: $height;
	z-index: $index;
}

@mixin button($color, $border, $bg-color) {
	color: $color;
	border: $border;
	background-image: $gradient-color;
}
@mixin transistion($transistion) {
	transition: $transistion;
}
@mixin translateX($translate) {
	transform: translateX($translate);
}
// BREAK POINTS FOR THE DEVICES
$xsm: 375px; // FOR MOBILE DEVICES == xsm
$sm: 576px; // FOR SMALL DEVICES == sm
$md: 768px; // FOR MEDIUM DEVICES == md
$lg: 992px; // FOR LARGE DEVICES == lg
$xlg: 1200px; // FOR EXTRA LARGE DEVICES == xlg

@mixin responsive-for($size) {
	@if $size == sm {
		@media all and (max-width: $sm) {
			@content;
		}
	} @else if $size == md {
		@media all and (max-width: $md) {
			@content;
		}
	} @else if $size == lg {
		@media all and (max-width: $lg) {
			@content;
		}
	} @else if $size == xlg {
		@media all and (max-width: $xlg) {
			@content;
		}
	}
}
