/** @format */
/* 2.3 Font weight*/
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

/* 2.1 Font Size*/
$p1: 0.875rem !default;
$p2: 1.125rem !default;
$b1: 0.875rem !default;

/* 3.0 Heading Size*/
$h1: 4rem !default;
$h2: 2.75rem !default;
$h3: 2rem !default;
$h4: 1.5rem !default;
$h5: 1.5rem !default;
$h6: 0.875rem !default;

// color variable map
$colors: (
	// non-nested values
	background: #f2efee,
	// nested map inception
	primary:
		(
			base: #003a92,
			light: #000000,
		),
	secondary: (
		base: #8c2531,
		light: #d7c3ae,
	),
	gray: (
		one: #3c3c3c,
		two: #74788a,
	),
	white: #ffffff
);

// retrieve color from $colors map ie. `color(base, primary)`
@function color($color-name, $color-variant: null) {
	// color variant is optional
	@if ($color-variant != null) {
		// map inception
		@return map-get(map-get($colors, $color-name), $color-variant);
	} @else {
		@return map-get($colors, $color-name);
	}
}
