/** @format */
/* 2.3 Font weight*/
$font-extrathin: 100;
$font-thin: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

/* 2.1 Font Size*/
$p1: 18px !default;
$p2: 14px !default;
$b1: 18px !default;

/* 3.0 Heading Size*/
$h1: 64px !default;
$h2: 44px !default;
$h3: 32px !default;
$h4: 24px !default;
$h5: 24px !default;
$h6: 14px !default;

// color variable map
$colors: (
	// non-nested values
	background: #f8f8f8,
	// nested map inception
	primary:
		(
			base: #003a92,
			light: #000000,
		),
	secondary: (
		base: #8c2531,
		light: #d7c3ae,
	),
	gray: (
		base: #3c3c3c,
		light: #74788a,
	),
	white: #ffffff
);

// retrieve color from $colors map ie. `color(base, primary)`
@function color($color-name, $color-variant: null) {
	// color variant is optional
	@if ($color-variant != null) {
		// map inception
		@return map-get(map-get($colors, $color-name), $color-variant);
	} @else {
		@return map-get($colors, $color-name);
	}
}
