/** @format */
.bene {
	background-color: color(white);
	padding: rem(80px) 0 rem(106px);
	@include responsive-for(xs) {
		padding: rem(24px) 0 rem(68px);
	}
	& h5 {
		margin-bottom: rem(60px);
		margin-bottom: rem(16px);
	}
	& .container {
		@include responsive-for(xs) {
			max-width: 340px;
		}
	}
}
