/** @format */

.founder {
	position: relative;
	padding-top: rem(80px);

	&:before {
		@include position-absolute(100%, 100%, -2);
		background-color: color(white);
	}
	&:after {
		@include position-absolute(100%, calc(100% - 259px), -1);
		top: 0;
		background-color: color(secondary, light);
	}
	& h5 {
		margin-bottom: rem(60px);
	}
	&__bg {
		position: relative;
		width: calc(100% - 120px);
		margin: 0 auto;
		&--content {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			padding: 60px;
			bottom: 0;
			z-index: 1;
			display: flex;
			align-items: flex-end;

			& ul {
				width: 100%;
				& li {
					display: block;
					padding: rem(20px) 0;
					&:not(:last-child) {
						border-bottom: 1px solid color(white);
					}
					& h2 {
						display: inline-block;
						cursor: pointer;
					}
				}
			}
		}
	}
}
