/** @format */
.hero {
	position: relative;

	&:after {
		@include position-absolute(
			calc(100% - 60px),
			calc(100% - 279px - 60px),
			-1
		);
		background-color: color(white);
		left: rem(60px);
		top: 0;
		@include responsive-for(lg) {
			width: calc(100% - 1rem);
			left: 1rem;
		}
		@include responsive-for(sm) {
			height: calc(100% - 90px - 60px);
		}
		@include responsive-for(xs) {
			width: calc(100% - 0.5rem);
			height: calc(100% - 99px - 32px);
		}
	}
}
