/** @format */

.latestNews {
	padding: rem(60px) 0;
	@include responsive-for(xs) {
		padding: rem(32px) 0;
	}

	&-slider {
		width: calc(100% - 32px - 16px);
		margin-left: auto;
		& .newsCard {
			margin-top: rem(16px);
		}
	}
}
